{% extends "base.html" %}

{% block title %}Online BlackJack{% endblock %}

{% block content %}
<div class="d-flex flex-column min-vh-100 text-center text-bg-dark"> 
    <div class="d-flex flex-column justify-content-center align-items-center vh-100 w-100">

        <div class="logo-container mb-4">
            <img src="{{ url_for('static', filename='img/cardslogo.png') }}" alt="Cards Logo" class="img-fluid" style="width: 25%; max-width: 50%;">
        </div>

        <main class="px-3">
            <h1 class="mb-4" >Online BLACKJACK</h1>  
        </main>

        <div class="player-info mt-4"> <!-- Общий див -->
    {% if player_name %}
        
        <div class="player-details border border-white p-1 rounded "> <!-- див для первого блока -->
            <h3 class="mb-1 mt-3">Привет, <span class="text-danger fw-bold">{{ player_name }}</span>!</h3>  
            <h3>Твой баланс: ${{ balance |int }}</h3>  

            <div class="start-game-container mt-3"> <!-- див для кнопки начала игры -->
                <form action="{{ url_for('new_page') }}" method="GET">  
                    <button type="submit" class="btn btn-danger rounded-pill px-3 mb-3">Начать игру</button>  
                </form>
            </div>
        </div> 

       
        <div class="name-change-container mt-5"> <!-- див для смены имени -->
            <form action="{{ url_for('set_name') }}" method="POST" style="width: 300px;">  
                <div class="mb-3">
                    <label for="player_name" class="form-label">Сменить имя игрока:</label>  
                    <input type="text" id="player_name" name="player_name" class="form-control rounded-pill px-3" placeholder="Введите новое имя" required>  
                </div>
                <button type="submit" class="btn btn-secondary rounded-pill px-3">Сменить имя</button>  
            </form>
        </div>
    {% else %}
        
    {% endif %}
</div>
    </div>
</div>
{% endblock %}